@import '../base/vars';
footer {
    background-color: #14181d;
    @media (max-width: 1350px) {
        #container-grid {
            display: flex;
            flex-wrap: wrap;
            .col, .col-6 {
                text-align: center;
                margin: 2em 0;
                width: 50vw !important;
            }
        }
    }
    @media (max-width: 600px) {
        #container-grid {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}