@import '../base/vars';
main {
    .r-color {
        background-color: $rose-color;
    }
    .r-color-secondary {
        color: $rose-color-secondary;
    }
    background: rgb(5,12,43);
    background: linear-gradient(to top, #18191d, #1b1c20, #1e1f23, #212226, #2a2b31, #c52041, #ea1647be);
    .parallax {
        background-image: url('../img/z.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 80vh;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        position: relative;
        @media (max-width: 750px) {
            height: 100vh;
            background-position: center;
        }
        p {
            font-size: 18px;
        }
    }
    .first-section {
        link:hover {
            background: transparent;
        }
        .row-cols-2 {
            height: 60%;
        }
        .col1 {
            order: 1;
        }
        .col2 {
            order: 2;
        }
        @media (max-width: 850px) {
            width: 100%;
            div {
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
            }
            button {
                width: 100%;
            }
            #second_container {
                .col1 {
                    order: 2;
                }
                .col2 {
                    order: 1;
                }
                
            }
        }
        .img-container {
            #paisano {
                width: 80%;
                height: 90%;
            }
            img {
                height: 75%;
                width: 75%;
            }
        }
    }
    .card {
        transition: .5s;
        button {
            border: 1px solid #ea1642;
            color: #ea1642;
            font-size: 12px;
            font-weight: bold;
        }
        .card-body {
            background-color: #14181d;
            color: $color;
        }
    }
    .card:hover {
        border: 2px solid $rose-color !important;
        cursor: pointer;
        animation: animatedBoxShadow 1s infinite alternate;
        transform: scale(1.05);
    }
    #card-container {
        height: 100%;
        img {
            height: 300px;
            object-fit: cover;
        }
    }
    @keyframes animatedBoxShadow {
        0% {
            box-shadow: 0 0 20px #581827b7;
        }
        50% {
            box-shadow: 0 0 30px #be274ab7;
        }
        100% {
            box-shadow: 0 0 40px $rose-color;
        }
    }
}